[project]
name = "Tanush Decors"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "django-cors-headers>=4.6.0",
    "django-rest-framework>=0.1.0",
    "django>=5.1.3",
]
