{% extends 'tanushdecors/base.html' %}

{% load static %}

{% block title %}Tanush Decors: Shop{% endblock title %}

{% block content %}

<div class="container">
  <div class="shop-section">
    <h1>Tanush Decors Shop</h1>
    <div class="container">
      <div class="row">
        {% for product in products %}
        <div class="col-6 col-md-4 col-lg-3 mb-5">
          <div class="product-item">
            PATH is {{ product.image.url }}
            <img src="{{ product.image.url }}" class="img-fluid product-thumbnail" alt="{{ product.name }}" />
            <h3 class="product-title">{{ product.name }}</h3>
            <strong class="product-price">${{ product.price }}</strong>
            <button class="btn btn-primary add-to-cart-btn" data-name="{{ product.name }}" data-price="{{ product.price }}" data-image="{{ product.image.url }}">
              Add to Cart
            </button>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}