OBSOLETE > *:not(path):not(g) {
    /* color: hsla(210, 100%, 100%, 0.9) !important; */
    /* background: hsla(210, 100%, 50%, 0.5) !important; */
    outline: solid 0.1em rgba(255, 0, 0, 0.5) !important;
}

body {
    padding-top: 4rem;
}

html {
    background-color: lightgreen;
}

.jumbotron {
    background-color: lightgreen;
}

.container {
    /* background-color: blue; */
    width: 100%;
    height: auto;
}

.container > div.row.header {
    padding: 2px;
    background-color: lightgray;
}

button.btn:hover,
button.btn:hover * {
    color: white;
    text-decoration: none;
}

.full {
    min-height: 100%;
    height: 100%;
}
